body {
  font-family: 'Montserrat';
  background-image: url(/assets/bg2.png);
}

p {
  font-family: 'Lora';
}

a:visited {
  color: rgb(138, 138, 138);
}

a:link {
  color: rgb(138, 138, 138);
}

a:hover {
  color: rgb(255, 187, 0);
}

a:active {
  color: orange;
}

.jumbotron {
  color: aliceblue;
}

.svg {
  fill: rgb(255, 255, 255);
}

.about {
  margin-top: -10px;
  font-family: initial;
}

.service a {
  text-decoration: none
}

.service a:link {
  color: black
}

.service a:visited {
  color: black;
}

.spacee {
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  color: aliceblue;
  text-align: center;
}

.galery {
  text-align: center;
}

.slideshow {
  text-align: center;
  background-image: url(/assets/city-1150026_960_720.jpg);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.rounded-circle {
  width: 75px;
}

.address {
  background-image: url(/assets/nature-3616194_1920.jpg);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

footer {
  text-align: center;
  background-color: black;
  padding-top: 4px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0);

}

footer a {
  text-decoration: none
}

footer a:link {
  color: orange;
}

footer a:visited {
  color: orange;
}

footer a:hover {
  color: yellow;
}